body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#brand {
    color: white;
    font-weight: bold;
    font-size: 40px;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    cursor: pointer;
    color: hsl(0, 0%, 50%)
}
h1 {
font-size: 72px
}
.search-mentor {
    height: 3.5rem;
    width: 518px;
    border: 3px solid black;
    border-radius: 6px;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}
#img-1 {
    margin-left: 122px
}
#hero-src {
    margin-top: 52px
}
.hero-text {
    margin-top: 161px
}
.divider {
   border-top: 3px solid black;
   margin: 2rem 0
}
.avis {
    margin-top: 93px;
}
.avis-box {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.partenaires {
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
}
.arg {
    display: flex;
    justify-content: center;
    margin-top: 105px;
    gap: 20px
}
.arg p {
    font-size: 21px;
}
.mentors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 10px
}
.video {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.sign-in {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
#signin-box {
    border: 3px solid black;
}
#signin-form {
    width: 630px;
    text-align: start;
    padding: 20px 60px;
}
footer {
    height: 290px;
    background-color: black;
    color: white;
}

